@{
    ViewBag.Title = "Главная страничка";
}
<link rel="stylesheet" href="~/Content/MainPageStyles/indexAuthorizedStyle.css"/>
<div class="row" id="topAuctions">
    <div class="col-md-6" id="cocktionTop">
        <h4>TOP-5 на cocktion.</h4>

        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Крестный отец.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 4 часа.
                    </p>
                </div>
            </div>
        </div>

        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Евгений Онегин.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 2 часа.
                    </p>
                </div>
            </div>
        </div>

        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Крестный отец.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 4 часа.
                    </p>
                </div>
            </div>
        </div>

        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Евгений Онегин.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 2 часа.
                    </p>
                </div>
            </div>
        </div>

        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Евгений Онегин.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 2 часа.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6" id="inMyHousesTop">
        <h4>TOP-5 в вашем колхозе.</h4>
        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Мышка.</b>
                    </p>
                    <p>(Вещь)</p>
                    <p><b>Можно достать</b> еще 2 дня.
                    </p>
                </div>
            </div>
        </div>
        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Крестный отец.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 4 часа.
                    </p>
                </div>
            </div>
        </div>
        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Мышка.</b>
                    </p>
                    <p>(Вещь)</p>
                    <p><b>Можно достать</b> еще 2 дня.
                    </p>
                </div>
            </div>
        </div>
        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Крестный отец.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 4 часа.
                    </p>
                </div>
            </div>
        </div>
        <div class="row auctionInfoContainer">
            <div class="col-md-4">
                <div class="photoContainer">
                    <img class="img-circle" src="~/Content/SiteImages/allSmallProducts.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="infoContainer">
                    <p><b>Крестный отец.</b>
                    </p>
                    <p>(Книга)</p>
                    <p><b>Можно достать</b> еще 4 часа.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Тут вставить его аукционы-->