@{
    ViewBag.Title = "Главная страничка";
}

<div class="jumbotron">
    <h2>Не будь петухом, продай свою вещь с молотка! (Или купи)</h2>
    <p class="lead">Cocktion это бесплатные для продавцов и покупателей аукционы, на которых можно продать свою вещь за 20 рублей и пачку парлика.</p>
    <p><a href="@Url.Action("Create", "Auction")" class="btn btn-primary btn-lg">Начинай продавать! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начинай барыжить не по-петушиному.</h2>
        <p>
            Cocktion предлагает тебе прекрасный сервис для продажи своих вещей как за деньги, так и за другие вещи. Начинай создавать свои собственные аукционы и стань самым крутым барыгой;)
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Auction")">Хочу продавать! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скупай крутые вещи, чтобы порадовать свою цыпочку.</h2>
        <p>На Cocktion'e ты можешь найти множество прекрасных вещей, которые можно приобрести практически бесплатно, достаточно просто отдать ненужную тебе вещь взамен.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Auction")">Хочу покупать! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Свобода в выборе цены для оплаты.</h2>
        <p>Плати людям за товар хоть яйцами, хоть деньгами. Здесь можно все!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Help")">Научи меня! &raquo;</a></p>
    </div>
</div>