

h3 {
    text-align: center;
}

#houseDescriptionContainer {
    padding: 10px;
    border-radius: 3px;
}

#secondInfoColumn {
    padding: 10px;
    border-radius: 3px;
}

#messageContainer {
    margin-bottom: 10px;
}

.author {
    border-bottom: solid 1px lightgray;
}

.postContainer {
    border: dotted 1px lightgray;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
}


#messageEnterContainer {

    padding-top: 30px;
}

textarea {
    width: 100%;
    height: 100%;
}

#addCommentButton {
    float: right;
}

#top, #subscribersList{
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
}

