
@{
    ViewBag.Title = "История аукционов";
}
@model List<CocktionMVC.Models.DAL.Auction>
<script src="~/Scripts/MyLib/Auction/Index/auctionAdder.js"></script>
<link rel="stylesheet" href="~/Content/AuctionStyles/houseAuctionsStyle.css"/>
<div id="auctionsControlPanel">
    <div id="controls" class="row">
        <div id="headerContainer" class="col-md-4">
        </div>
        <div id="filter" class="col-md-4">
            <h4>История прошедших аукционов</h4>
        </div>
        <div id="secondFilter" class="col-md-4">
        </div>
    </div>
</div>
<div id="auctionPanel">

</div>

@{
    if (Model.Count != 0)
    {
        foreach (var auction in Model)
        {
            <script>
                addCellToTheGrid('auctionPanel', '@auction.SellProduct.Name.Replace("\n", " ")', '@auction.SellProduct.Description.Replace("\n", " ")',
                    '@auction.EndTime', 'http://cocktion.com/Images/Thumbnails/@auction.SellProduct.Photos.First().FileName',
                    'http://cocktion.com/Auction/CurrentAuction/@auction.Id');
            </script>
        }
    }
    else
    {
        <script>
            sayThatEmpty('auctionPanel');
        </script>
    }
}