#mynetwork {
    width: auto;
    height: 500px;
}

#chatContainer {
    width: auto;
    height: 500px;
}

#uploader {
    display: none;
}

#chooseLeader {
    display: none;
}

#chaingeChoice {
    display: none;
}

#directChat {
    display: none;
}

#stopAuction {
    display: none;
}

#toteBoardContainer{
    display: none;
}

#extraBidContainer{
    display: none;
}

#addExtraBid{
    display: none;
}