.userInfo{
    border: solid 1px lightgray;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
}


#usersHere{
    border: solid 1px lightgray;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: whitesmoke;

}

h3,h4{
    text-align: center;
}

img{
    margin-left: 3%;
}

#filterContainer{
    text-align: center;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
    background-color: #f5f5f5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}

