
@{
    ViewBag.Title = "Index2";
}
<link rel="stylesheet" href="~/Content/MainPageStyles/unauthMainStyle.css"/>
<script src="~/Scripts/MyLib/MainPage/unauthMainScripts.js"></script>
<script src="~/Scripts/MyLib/Vis/vis.min.js"></script>
<div class="row">
    <div class="col-lg-6">
        <!--Контейнер для сети самой-->
        <div id="mynetwork"></div>
    </div>
    <div class="col-lg-6">
        <!--Контейнер для информации-->
        <div id="welcomeText" class="welcomeText">
            <div class="welcomeHeader">
                <h4>Хотелось бы сразу предупредить...</h4>
            </div>
            <p><del>Не нажимайте</del> на кружки! Вы рискуете узнать, что тут творится!</p>
            <p>Это слишком интересно! Не смотрите!!!!</p>
            <p>Ну пожалуйста...</p>
            <p>Хнык :)</p>
        </div>
        <div id="cockyText" hidden="">
            <div class="welcomeText">
                <div class="welcomeHeader">
                    <h4>Первый интересный факт</h4>
                </div>
                <p>Тут будет первый крутой факт с объяснением</p>
            </div>
        </div>
        <div id="bookText" hidden="">
            <div class="welcomeText">
                <div class="welcomeHeader">
                    <h4>Второй интересный факт</h4>
                </div>
                <p>Тут будет второй крутой факт с объяснением</p>
            </div>
        </div>
        <div id="stuffText" hidden="">
            <div class="welcomeText">
                <div class="welcomeHeader">
                    <h4>Третий интересный факт</h4>
                </div>
                <p>Тут будет третий крутой факт с объяснением</p>
            </div>
        </div>
        <div id="serviceText" hidden="">
            <div class="welcomeText">
                <div class="welcomeHeader">
                    <h4>Четвертый интересный факт</h4>
                </div>
                <p>Тут будет четвертый крутой факт с объяснением</p>
            </div>
        </div>
    </div>
</div>