
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNorFound</title>
</head>
<body>
    <div> 
        <p>К сожалению, данная страничка попросту не существует;(</p>
    </div>
</body>
</html>
