
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <div id="updater"></div>
        <script>
        var request = new XMLHttpRequest();
        request.open('POST', '/Mobile/Index');
        request.send();
        request.onreadystatechange = function()
        {
            $('#updater').append('<p>'+ request.responseText.substring(1, request.responseText.length - 1) + '</p>');

        };
        </script>
    </div>
</body>
</html>
