#timer {
    text-align: center;
}

#typeOfAuctionContainer {
    border: solid 1px rgb(204, 204, 204);
    border-radius: 3px;
}

/*Для контейнера, который содержит всю правую часть
странички, (не болталку)*/
#globalContainer{
    border-left: dashed 1px lightgray;
    padding: 10px;
}


#inputProductTextBoxes{
    border: solid 1px lightblue;
    padding: 10px;
    border-radius: 10px;
}

#productBidContainer, #unauthorizedUserInfo{
    text-align: center;
}

/*Стили блоков, содержащих основную информацию об
аукционе, чате, ставках, тотализаторе:)*/
#firstInfoContainer, #secondInfoContainer{
    border: solid 1px lightgray;
    padding: 10px;
    border-radius: 3px;
    margin-right: 3%;
}

/*Стили блоков, содержащих основную информацию об
аукционе, чате, ставках, тотализаторе:)*/
#firstInfoContainer, #secondInfoContainer{
    border: solid 1px lightgray;
    padding: 10px;
    border-radius: 3px;
    margin-right: 3%;
}

#chatMessagesContainer, #coefficientsTable{
    width: 100%;
    height: 200px;
    border: solid 1px lightblue;
    border-radius: 3px;
    padding: 10px;
    overflow: scroll;
}

#auctionInfoContainer, #productsContainer {
    height: auto;
    width: 100%;
    border: solid 1px lightblue;
    border-radius: 3px;
    padding: 10px;
}

#productPhotoContainer, #productInfoContainer {
    margin: 3%
}
