
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Логин</p>
<input type="text" id = "login" />
<p>Пароль</p>
<input type="text" id = "password" />
<button id="sendLogin">Послать</button>
<br />
<p>Айди аукциона</p>
<input type="number" id="id" />
<br />
<button id="getAuctions">Давай аукционы!!!</button>
<button id="sendId">Шли айди!!!</button>
<script type="text/javascript" src="~/Scripts/Jquery/jquery-2.1.3.js"></script>
<script>
    

    $('#sendLogin').click(function () {
        var loginData = {
            grant_type: 'password',
            username: $('#login').val(),
            password: $('#password').val()
        };

        $.ajax({
            type: 'POST',
            url: '/Token',
            data: loginData
        }).done(function (data) {
            self.user(data.userName);
            // Cache the access token in session storage.
            sessionStorage.setItem(tokenKey, data.access_token);
        }).fail(alert("sdfsdf"));
     });
       
    $('#getAuctions').click(function () {
        $.ajax({
            type: "POST",
            url: "/api/Auction/GetActiveAuctions"
        });
    });

    $('#sendId').click(function () {
        $.ajax({
            type: "POST",
            url: "/api/Auction/GetDirectAuction/" + $('#id').val()
        });
    });

   
        ///request.open('GET', '/api/TestApi/GetAuthorized/3');
</script>