
<form id="infoForm" action="@Url.Action("Current")">
   
    <div id="prod_info">
        Введите имя товара:
        <br />
        <input type="text" id="Name" name="Name" />
        <br />
        <div id="extra" >
            Напишите описание товара:<br />
            <input type="text" id="Description" name="Description"/><br />
            Категория товар:<br />
            <input type="text" id="Category" name="Category"/><br />
            Выбрать фотографию товар:<br />
            <input type="file" id="file" name="file" /><br />
        </div> 
        <input type="submit" id="sub" value="Сохранить" />
    </div>
</form>
<button>Назначить лидером</button>
</br> 
<button>Удалить товар</button>