@model List<CocktionMVC.Models.DAL.House>
@{
    ViewBag.Title = "Создать аукцион";
}
<script src="~/Scripts/MyLib/Auction/Create/createAuctionFormProcessor.js"></script>
<script src ="/Scripts/MyLib/Auction/Create/search.js"></script>
<link rel="stylesheet" href="~/Content/AuctionStyles/createAuctionStyle.css"/>

<div id="createAuctionFormContainer" class="row">
    <div class="col-md-2"><!--Для разметки --></div>
    <div class="col-md-8" id="form" class="row">
        <!--Контейнер для формы, создающей аукцион.-->
        <h3>Создайте самый классный аукцион :)</h3>
        <div class="col-md-6" id="inputs">
            <!--Форма для внесения данных о товаре и аукционе-->
            <h4>Что продаем?)</h4>
            <input type="text" class="form-control" onchange="changeInputColor()"
                   id="productName" placeholder="Название товара (обязательно поле)">
            <br/>
            <input type="text" class="form-control" id="descriptionName" placeholder="Описание">
            <br/>
            <div id="typeOfAuctionContainer">
                <!--Чекбоксы для типов товара-->
                <h5>Тип предмета</h5>
                <label class="radio-inline">
                    <input type="radio" id="bookRadio" onclick="auctionRadioCheckHandler(this)"> Книга
                </label>
                <label class="radio-inline">
                    <input type="radio" id="productRadio" onclick="auctionRadioCheckHandler(this)"> Вещь
                </label>
                <label class="radio-inline">
                    <input type="radio" id="serviceRadio" onclick="auctionRadioCheckHandler(this)"> Услуга
                </label>
            </div>
            <br/>
            <div id="timeContainer">
                <!--Чекбоксы для временных ограничений -->
                <!--4 часа / 1 день / 1 неделя -->
                <h5>Длительность аукциона</h5>
                <label class="radio-inline">
                    <input type="radio" id="4hoursTime" onclick="auctionRadioCheckHandler(this)"> 4 часа
                </label>
                <label class="radio-inline">
                    <input type="radio" id="1dayTime" onclick="auctionRadioCheckHandler(this)"> 1 день
                </label>
                <label class="radio-inline">
                    <input type="radio" id="1weekTime" onclick="auctionRadioCheckHandler(this)"> 1 неделя
                </label>
            </div>
            <br/>
            <div id="fileAndButtonContainer">
                <!--Контейнр для файла и кнопок -->
                <input type="file" id="fileInput" accept="image/*">
                <br />
                <div class="progress" hidden="" id="progressBar">
                    <!--Прогресс бар-->
                    <div class="progress-bar progress-bar-success" id="bar" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <!--Здесь можно впендюрить текстовый индикатор процентов загрузки-->
                    </div>
                </div>
                <div hidden="" id="readyInfo"></div>
                <button id="createAuctionBtn" onclick=" sendData() " class="btn btn-default">Создать аукцион</button>
            </div>
        </div>
        <div class="col-md-6" id="houses">
            <!-- Контейнер для выбора домов -->
            <h4>Где продаем?)</h4>
            <div id="universitySearchContainer">
                <input type="text" oninput="searchUniversity()" id="universitySearch" class="form-control" placeholder="Университет">
            </div>
            <div id="universitySearchResults">
            </div>
            <div id="facultyToChoose">

            </div>
            <label class="radio-inline">
                <input type="radio" id="allFacultyRadio" onclick="facultyRadioCheckHandler(this)"> На всех факультетах
            </label>
            <label class="radio-inline">
                <input type="radio" id="chooseFacultyRadio" onclick=" facultyRadioCheckHandler(this) " /> Выбрать факультеты
            </label>
        </div>
    </div>
    <div class="col-md-2"><!--Для разметки --></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

