@using CocktionMVC.Models
@using CocktionMVC.Models.DAL;
@model List<Location>
@{
    ViewBag.Title = "Создать аукцион";
}
<head>
    <script src="~/Scripts/Jquery/jquery-2.1.3.js"></script>
    
</head>>

<h3>Создай свой аукцион!</h3>
<div class="row">
    <div id="formContainer" class="col-lg-3">
        <p>Имя</p>
        <div id="nameErrorField"></div>
        <input type="text" id="Name" name="Name" required />
        <p>Описание</p>
        <div id="descriptionErrorField"></div>
        <input type="text" id="Description" name="Description" required />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Выбрать категорию
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="category">
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Электроника</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Фото и видеокамеры</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Телефоны</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Аудио и видеотехника</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Игровые приставки</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Просто очень крутая электронная штука</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Компьютеры</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Аксессуары и расходники</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Комплектующие</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Накопители</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Периферийные устройства</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Игры и ПО</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Компы</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Оргтехника</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Бытовая техника</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Климатическая техника</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Мелочи для кухни</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Техника для красоты</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Крупная техника для кухни</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Техника для дома</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Жизненное</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Мелочи для жизни</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Всякие приколюхи</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Домашний хлам</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Шмотки</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Одежда для милых дам</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Одежда для респектабельных господ</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Украшения для внешнего вида</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Прочее</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" id="Прочее" href="#">Еда</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Напитки</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Услуги</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Люди</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Книги</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="infoErrorField"></div>
        <div id="info"></div>
        <p>Часов</p>
        <div id="hoursErrorField"></div>
        <input type="number" min="0" id="Hours" name="Hours" required />
        <p>Минут</p>
        <div id="minutesErrorField"></div>
        <input type="number" min="1" id="Minutes" name="Minutes" required />
        <p>Файлик</p>
        <input type="file" id="file" />
        <input type="button" id="creator" class="btn btn-default" value="Создать аукцион" />
        <div id="fileErrorField"></div>
        <input type="button" id="createAndUploadPhotoFromMobile" class="btn btn-success" value="Загрузить фотку с телефона" />
        <div id="checkboxInfo"></div>
    </div>
</div>

<script>
    //достает то, на что пользователь кликнул при выборе категорий
    $(document).on('click', '.dropdown-menu li a', function () {
        $('#info').empty();
        $('#info').append($(this).text());
    });
    //Проверяет значение времени 
    //Т.е. часов и минут
    function verifyTime()
    {
        var hours = document.getElementById('Hours').value;
        var minutes = document.getElementById('Minutes').value;
        if (hours.length == 0) {
            $('#hoursErrorField').empty();
            $("#infoErrorField").empty();
            $("#hoursErrorField").append('Неверное значение часов');
            return false;
        }
        else if (minutes.length == 0) {
            $("#minutesErrorField").append('Неверное значение минут');
            return false;
        }
        else
            return true;
    }

    /*Функция, которая проверяет все значения
    в формах. Нужно последовательно удалять ненужные
    сообщения по мере того, как пользователь что-то туда зафигачивает
    нужно сделать по-нормально, т.е. зафигачить тут поверку по событиями
    настроить события на ищменениях на то, чтобы они удалялили ненужные поля*/
    function verifyFormData() {
        var name = document.getElementById('Name').value;
        var description = document.getElementById("Description").value;
        var category = document.getElementById("info").innerText;
        if (name.length == 0) {
            $("#nameErrorField").append('Нужно ввести название товара:)');
            return false;
        }
        else if (description.length == 0) {
            $('#nameErrorField').empty();
            $("#descriptionErrorField").append("Нужно ввести описание товара");
            return false;
        }
        else if (category.length == 0) {
            $('#descriptionErrorField').empty();
            $("#infoErrorField").append("Нужно выбрать категорию товара!!!");
            return false
        }
        else
            return true;
    }

    //Валидация файла)
    var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
    function validateFile() {
        var inputFile = document.getElementById("file");
        var sFileName = inputFile.value;
        var blnValid = false;
        if (sFileName.length > 0) {
            for (var j = 0; j < _validFileExtensions.length; j++) {
                var sCurExtension = _validFileExtensions[j];
                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
                else {
                    $("#fileErrorField").append('Это либо не файл, либо не картинка!');
                }
            }
        }
        return blnValid;
    }

    $('#creator').click(function () {
        if ((verifyTime() & verifyFormData())) {
            if (validateFile()) {
                var formData = new FormData();
                var req = new XMLHttpRequest;
                formData.append("Name", $('#Name').val());
                formData.append("Description", $('#Description').val());
                formData.append("Category", $('#info').text());
                formData.append("Hours", $('#Hours').val());
                formData.append("Minutes", $('#Minutes').val());
                var fileInput = document.getElementById('file');
                var filename1 = fileInput.files[0].name;
                formData.append(fileInput.files[0].name, fileInput.files[0]);
                $('#formContainer').empty();
                $('#formContainer').append('<p>загрузка в процессе</p>');
                req.open("POST", "/BidAuctionCreator/CreateAuction");
                req.send(formData);
                req.onreadystatechange = function () {
                    if (req.readyState == 4 && req.status == 200) {
                        $('#formContainer').empty();
                        $('#formContainer').append('<p>' + req.responseText + '</p>');
                    }
                }
                return true;
            }
            return false;
        }
        else
            return false;
    });

    //Нужен ли нам вообще этот метод????
    $('#createAndUploadPhotoFromMobile').click(function () {
        var formData = new FormData();
        var req = new XMLHttpRequest;
        formData.append("Name", $('#Name').val());
        formData.append("Description", $('#Description').val());
        formData.append("Category", $('#info').text());
        formData.append("Hours", $('#Hours').val());
        formData.append("Minutes", $('#Minutes').val());
        $('#formContainer').empty();
        $('#formContainer').append('<p>загрузка в процессе c мобилки</p>');
        req.open("POST", "/BidAuctionCreator/SaveProductInfo");
        req.send(formData);
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                $('#formContainer').empty();
                var respond = JSON.parse(req.responseText);
                $('#formContainer').append('<p>' + respond.Path + '</p>');
            }
        }
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

