@{
    ViewBag.Title = "MyAuctions";
}
@using CocktionMVC.Models.DAL
@model List<Auction> 
<h2>MyAuctions</h2>
@using (Html.BeginForm())
{
    foreach (var i in Model)
    {
        <p>@i.SellProduct.Name</p>
        <p>@i.SellProduct.Description</p>
        <img src="@i.SellProduct.Photo.FilePath" width="60" height="40" />
        <p></p>
    }
}